#page{
  background-color: brown;
  text-align: center;  
}
.menu{
	font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  list-style: inside;
}
a{
  color: aqua;
}
 .item-img {
  width: 470px;
  height: auto;
  }
  /*
  margin-left:auto;
  margin-right:auto;

}
.item-tittle{
	text-align: center;
}
ul {


} */
